<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешения -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- API ключ для карт -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUuDt8Ma0SVkRBdtOO83lwO9hAGicCPTI"/>

        <!-- Экран оплаты -->
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:label="Payment" />

        <!-- Экран чата с AI -->
        <activity
            android:name=".ChatActivity"
            android:exported="true"
            android:label="Chat" />

        <!-- Экран карты -->
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="Map" />

        <!-- Главный экран (точка входа) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
